<ion-header >

  <ion-navbar color="secondary">
    <ion-title>Bill</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  
  <ion-list >
    <ion-item *ngFor="let bill of bills">

          <ion-avatar item-start>
              <img src="assets/imgs/pay.png">
                  
            </ion-avatar>
            <h3 >Date: {{ bill.bill_date }} </h3>
            <h3 *ngIf="bill.payment_status == 1">Paid <ion-icon name="ios-checkmark-circle" color="secondary"></ion-icon>  </h3>
            <h3 *ngIf="bill.payment_status == 0">Pending <ion-icon name="ios-close-circle" color="danger"></ion-icon>  </h3>
            <p>₹ {{bill.amount}}</p>
            <button ion-button clear item-end *ngIf="bill.payment_status == 0">Pay</button>
      
    </ion-item>
  </ion-list>
</ion-content>
