page-complaint-details {
 
    card-background-page{
      
        ion-card {
            position: relative;
            text-align: center;

            .img-loaded + ion-spinner {
              display:none;
            }
            // .center in my case to make the spinner at the center
            
          }

          

          .center{
            margin-left: auto;
            margin-right: auto;
            display: block;
          }

          

          
    }
    
}
