<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Complaints</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

<ion-label *ngIf="complaintList?.length == 0" color="danger" padding>Nothing found</ion-label>


 
   <ion-list *ngIf="complaintList?.length >= 1">
    <ion-item *ngFor="let complaint of complaintList" (click)='complaintDetails(complaint.id)'  detail-push>

          <ion-avatar item-start>
              <img src="./assets/imgs/email.png">
                  
            </ion-avatar>
            <h3 >Complaint ID : {{ complaint.id }} </h3>
           
            <p>Date: {{complaint.created_at}}</p>
            <p><small>Status: {{complaint.status }}</small></p>
      
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="secondary"><ion-icon name="add-circle"></ion-icon></button>
    <ion-fab-list side="top">
      <button (click)="navToAddComplaint()" ion-fab><ion-icon name="camera"></ion-icon></button>
      <button ion-fab><ion-icon name="create"></ion-icon></button>
      <button (click)="navigateToRecordPage()" ion-fab><ion-icon name="microphone"></ion-icon></button>
      
    </ion-fab-list>
  </ion-fab>

</ion-content>
